
  .box-content img {
      width: 100% ;
      height: 100%;
  }
  .box-content .box-text {
      position: absolute;
      top: 50px;
      left: 50px;
      z-index: 1000;
  }
  .box-content .box-text .line {
      width: 100%;
      height: 5px;
      background-color: #fbb710;
  }
  .box-content .box-hover {
      position: absolute;
      width:100%;
      height: 100%;
      top: 0;
      left: 0;
  }
  .box-content:hover .box-hover {
      background-color: rgba(0,0,0 ,0.50);
  }
  .box-content:hover .box-text{
      color: white;
  }
.row {
      --bs-gutter-x: 0rem !important;
  }
  .img-fluid{
    width: 400px;
  }